<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EditPatientServlet</servlet-name>
        <servlet-class>hospitalPackage.EditPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorServlet</servlet-name>
        <servlet-class>hospitalPackage.AddDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>hospitalPackage.AddAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorPageServlet</servlet-name>
        <servlet-class>hospitalPackage.DoctorPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatient</servlet-name>
        <servlet-class>hospitalPackage.SearchPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAssignment</servlet-name>
        <servlet-class>hospitalPackage.StaffAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appointment</servlet-name>
        <servlet-class>hospitalPackage.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAppointmentServlet</servlet-name>
        <servlet-class>hospitalPackage.EditAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appointment</servlet-name>
        <servlet-class>hospitalPackage.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAppointmentServlet</servlet-name>
        <servlet-class>hospitalPackage.EditAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinanceServlet</servlet-name>
        <servlet-class>hospitalPackage.FinanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorStats</servlet-name>
        <servlet-class>hospitalPackage.DoctorStats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTimePeriod</servlet-name>
        <servlet-class>hospitalPackage.SearchTimePeriod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApptStats</servlet-name>
        <servlet-class>hospitalPackage.ApptStats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorPremissions</servlet-name>
        <servlet-class>hospitalPackage.DoctorPremissions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorPerms</servlet-name>
        <servlet-class>hospitalPackage.DoctorPerms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPatientServlet</servlet-name>
        <url-pattern>/EditPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorServlet</servlet-name>
        <url-pattern>/AddDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/AppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorPageServlet</servlet-name>
        <url-pattern>/DoctorPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatient</servlet-name>
        <url-pattern>/SearchPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAssignment</servlet-name>
        <url-pattern>/StaffAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appointment</servlet-name>
        <url-pattern>/Appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAppointmentServlet</servlet-name>
        <url-pattern>/EditAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinanceServlet</servlet-name>
        <url-pattern>/FinanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorStats</servlet-name>
        <url-pattern>/DoctorStats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTimePeriod</servlet-name>
        <url-pattern>/SearchTimePeriod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApptStats</servlet-name>
        <url-pattern>/ApptStats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorPremissions</servlet-name>
        <url-pattern>/DoctorPremissions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorPerms</servlet-name>
        <url-pattern>/DoctorPerms</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
